@font-face {
    font-family: 'aller';
    src: url('/fonts/aller_rg-webfont.eot');
    src: url('/fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aller_rg-webfont.woff') format('woff'),
         url('/fonts/aller_rg-webfont.ttf') format('truetype'),
         url('/fonts/aller_rg-webfont.svg#aller') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/fonts/aller_lt-webfont.eot');
    src: url('/fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aller_lt-webfont.woff') format('woff'),
         url('/fonts/aller_lt-webfont.ttf') format('truetype'),
         url('/fonts/aller_lt-webfont.svg#aller') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/fonts/aller_it-webfont.eot');
    src: url('/fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aller_it-webfont.woff') format('woff'),
         url('/fonts/aller_it-webfont.ttf') format('truetype'),
         url('/fonts/aller_it-webfont.svg#aller') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'aller';
    src: url('/fonts/aller_ltit-webfont.eot');
    src: url('/fonts/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aller_ltit-webfont.woff') format('woff'),
         url('/fonts/aller_ltit-webfont.ttf') format('truetype'),
         url('/fonts/aller_ltit-webfont.svg#aller') format('svg');
    font-weight: 200;
    font-style: italic;
}
