body{margin:0;font-family:aller;background:#f0f0f0}ul{list-style-type:none;padding:0}a{text-decoration:none;color:inherit}.borders{background:#505050;color:#d8d8d8}div.mains{position:relative}div#header{height:50px;margin-top:0}div#content-wrapper{color:#0e344f;}div#footer{background:#505050;color:#d8d8d8;height:50px;width:100%;position:relative}#top-bar{font-family:aller;font-size:1em;text-align:center;background:#505050;color:#d8d8d8;width:100%;height:auto;position:relative;padding-top:10px}#top-bar a{text-decoration:none !important}#top-bar form{margin-bottom:10px}#top-bar #top-bar-menu{text-align:left}#top-bar #top-bar-menu a{padding:5px 10px;color:inherit !important}#top-bar #top-bar-menu li{height:auto}#top-bar #top-bar-menu li:hover{color:#505050}#top-bar span{font-family:aller;font-size:1.5em;position:absolute;margin:auto;top:0;bottom:0}#top-bar input[type=text]{height:30px;border-style:none;padding:0 15px;width:100%;color:#282828}#top-bar-wrapper{max-width:800px;width:100%;display:block;position:relative;margin:auto}.top-bar-item{position:relative;display:block}#sidebar{width:250px;background:#ccc;height:100%;position:absolute;top:0;bottom:0;right:0;border-left-style:solid;border-left-color:#505050;border-left-width:4px;padding:10px 20px}#sidebar div.horizontal{display:inline-block}#sidebar table{width:100%}#sidebar tr.sidebar-table-heading{color:#2e2e2e;border-top-color:#2e2e2e;border-top-style:solid;border-top-width:2px}#sidebar td{padding:5px 0}#sidebar tr.sidebar-table-data{color:#505050;margin-top:5px}div#content-wrapper.data-table{padding:30px 340px 30px 60px}table#data{width:100%}table#data tbody{font-size:14px}table#data tbody tr.hover{cursor:pointer}table#data thead th{text-align:left;white-space:nowrap;font-size:15px}table#data thead th:hover{cursor:pointer}table#data thead th:hover i{color:#848484}table#data thead th i{vertical-align:middle}.table-hover>tbody>tr:hover{background-color:#cecece}form#table-filter div.slider{margin:20px 0}form#table-filter span#value{margin-left:20px}form#table-filter li.table-filter.selection span{display:block}form#table-filter li.table-filter.selection label{display:block}form#table-filter li.table-filter.selection input{display:inline-block;margin-right:10px}form#table-filter div#buttons{width:140px;margin:auto}form#table-filter button.select{margin:5px;width:60px}#gene_data{width:100%;height:50px;background:#ccc;display:block;margin-bottom:20px;border-bottom-style:solid;border-bottom-color:#505050;border-bottom-width:4px;padding:5px 20px;font-size:13px}#gene_data ul{text-align:center}#gene_data li{text-align:left;display:inline-block;margin:0 10px}#gene_data li div:nth-child(1){margin-bottom:5px}

.arc path {
  stroke: #fff;
  stroke-width:3px;
}
.passed {
  opacity: 0.3;
  border:1px solid #aaa;
}

.chart-container {
  width:100%;
  height:100%;
  border: 1px dotted silver;
}

svg text{
font-size: 1em;
font-family: sans-serif;
}

.tooltip{
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;

}

path:hover{
  cursor: pointer;
}

.inside {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

/* Custom CSS For live search */
